<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ErrorDBParam" value="/IP:127.0.0.1 /TYPE:DR-ID600 /FCR:C:\Program Files\FujiFilm\FCR\ /PRM:SYSTEM\127.0.0.1\LOG\ERROR /ONLINE:True /FTPIP:127.0.0.1"/>
    <add key="LogMode" value="Operation"/>
    <add key="ServiceCallCancellationTime" value="0"/>
    <add key="MaxRetryCount" value="3"/>
    <add key="ConfirmIPAddressRegister" value="true"/>
    <add key="GLGNotSupportSerials" value="ME"/>
  </appSettings>
 </configuration>