<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <services>
        <service behaviorConfiguration="FFDRInputWCFService_Behavior"
          name="HobbitDRInputService.FFDRInputWCFService">
          <endpoint address="net.pipe://localhost/FFDRInputWCFService"
            binding="netNamedPipeBinding" bindingConfiguration="FFDRInputWCFService_NamedPipeBindingConfig"
            contract="HobbitDRInputService.IFFDRInputWCFService" />
          <endpoint address="net.tcp://localhost:8080/FFDRInputWCFService"
            binding="netTcpBinding" bindingConfiguration="FFDRInputWCFService_TcpBindingConfig"
            contract="HobbitDRInputService.IFFDRInputWCFService" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8000/FFDRInputWCFService" />
            </baseAddresses>
          </host>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="FFDRInputWCFService_Behavior">
            <serviceMetadata httpGetEnabled="True"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <bindings>
        <netNamedPipeBinding>
          <binding name="FFDRInputWCFService_NamedPipeBindingConfig" maxReceivedMessageSize="67108864">
            <readerQuotas maxArrayLength="67108864" />
          </binding>
        </netNamedPipeBinding>
        <netTcpBinding>
          <binding name="FFDRInputWCFService_TcpBindingConfig" receiveTimeout="01:00:00"
            sendTimeout="00:10:00" maxReceivedMessageSize="67108864">
            <readerQuotas maxArrayLength="67108864" />
            <reliableSession inactivityTimeout="01:00:00" />
            <security mode="Transport">
              <transport clientCredentialType="Windows">
                <extendedProtectionPolicy policyEnforcement="Never" />
              </transport>
            </security>
          </binding>
        </netTcpBinding>
      </bindings>
    </system.serviceModel>
</configuration>