<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HotfixUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HotfixUpdater.Properties.Settings>
            <setting name="InstallRetryCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DBRetryCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DBRetryWaitSecond" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IPAddressRetryCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IPAddresRetryWaitSecond" serializeAs="String">
                <value>5</value>
            </setting>
        </HotfixUpdater.Properties.Settings>
    </applicationSettings>
</configuration>