<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- テストモードの指定（True：テストモード、False：通常モード） -->
    <add key="IsTestMode" value="False" />
    <!-- URLフォーマット(file://)（True：実施する、False：実施しない） -->
    <add key="IsURLFormatMode" value="true" />
    <!-- FF32複写処理のリトライ回数とリトライ間隔 -->
    <add key="CopyRetryCount" value="3" />
    <add key="CopyRetryInterval" value="1000" />
		<!-- NASアクセス関連のリトライ回数とリトライ間隔 -->
		<add key="NasRetryCount" value="3" />
		<add key="NasRetryInterval" value="1000" />
		<!-- 設定ドライブについては、URL検索ドライブから外す -->
    <!--<add key="URL_SearchDrive" value="E:" />-->
    <!-- log4net設定定義ファイルの格納場所 -->
    <add key="Log4netConfigPath" value="resource/MoveImage/log4net.config" />
    <!-- メッセージ定義ファイルの格納場所 -->
    <add key="MessageFilePath" value="resource/MoveImage/message.xml" />
    <!-- リソース定義ファイルの格納場所 -->
    <add key="ResourceFilePath" value="resource/MoveImage/resource.xml" />
    <!-- ユーザ設定ファイルの格納場所 -->
    <add key="UserSettingFilePath" value="resource/MoveImage/userSetting.xml" />
		<!-- 自動削除用サムネイル画像の格納場所 -->
		<add key="AutoDelThumbnailFilePath" value="resource/MoveImage/UnrepairedThumbnail.jpg" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>