<?xml version="1.0" encoding="utf-8" ?>

<!-- .NET application configuration file

     This file must have the exact same name as your application with
     .config appended to it. For example if your application is testApp.exe
     then the config file must be testApp.exe.config it mut also be in the
     same directory as the application. -->

<configuration>
  <!-- Register the section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <!-- Enable internal debugging in log4net
	<appSettings>
		<add key="log4net.Internal.Debug" value="false"/>
	</appSettings> -->

  <!-- This section contains the log4net configuration settings -->
  <log4net debug="false">

    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">

      <!-- ログ・ファイル名の先頭部分 -->
      <!-- Vista/7用トレースログ出力先 -->
      <param name="File" value="C:\ProgramData\FujiFilm\Hobbit\Log\MWMMPPS" />
      <!-- XP用トレースログ出力先 -->
<!--
      <param name="File" value="C:\Documents and Settings\All Users\Application Data\FujiFilm\Hobbit\Log\MWMMPPS" />
-->
      <!-- 追加書き込み -->
      <param name="AppendToFile" value="true" />

      <!-- 日付ごとにファイルを作成することを指定 -->
      <param name="RollingStyle" value="date" />

      <!-- ログ・ファイル名が固定ではないので“false”を指定 -->
      <param name="StaticLogFileName" value="false" />

      <!-- ファイル名の日付部分 -->
      <param name="DatePattern" value='"_"yyyyMMdd".log"' />

      <layout type="log4net.Layout.PatternLayout">
        <!-- ログの書式 -->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      
      <!-- 複数プロセスからの書き込み可 -->
      <lockingmodel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <!-- Setup the root category, add the appenders and set the default priority -->

    <root>
      <!-- 2011/03/24 TYS水越 CQ#797 DEL Start -->
      <!--
           dicomcs.dllは、ログレベルをDEBUGまたはALLにすると
           動物向けのタグを出力できずにエラーとなる
      -->
      <!-- <priority value="ALL" /> -->
      <!-- 2011/03/24 TYS水越 CQ#797 DEL End -->
      <!-- 2011/03/24 TYS水越 CQ#797 ADD Start -->
      <priority value="INFO" />
      <!-- 2011/03/24 TYS水越 CQ#797 ADD End -->
      <appender-ref ref="RollingLogFileAppender" />
    </root>

    <!-- Specify the priority for some specific categories -->
  </log4net>

</configuration>
