<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- テストモードの指定（True：テストモード、False：通常モード） -->
    <add key="IsTestMode" value="False"/>
    <!-- log4net設定定義ファイルの格納場所 -->
    <add key="Log4netConfigPath" value="Resource/RebuildMedia/log4net.config"/>
    <!-- メッセージ定義ファイルの格納場所 -->
    <add key="MessageFilePath" value="Resource/RebuildMedia/message.xml"/>
    <!-- リソース定義ファイルの格納場所 -->
    <add key="ResourceFilePath" value="Resource/RebuildMedia/resource.xml"/>
    <!-- ユーザ設定ファイルの格納場所 -->
    <add key="UserSettingFilePath" value="Resource/RebuildMedia/userSetting.xml"/>
    <!-- ユーザログの出力先 -->
    <add key="UserLogOutputDir" value="RebuildMediaLog"/>
    <!-- ユーザログ（CONVERT用結果）のファイル名 -->
    <add key="UserLogFileNameConvertResult" value="@DATETIME_Convert_Result.log"/>
    <!-- ユーザログ（再構築用結果）のファイル名 -->
    <add key="UserLogFileNameRebuildResult" value="@DATETIME_Rebuild_Result.log"/>
    <!-- ユーザログ（CONVERT用結果詳細）のファイル名 -->
    <add key="UserLogFileNameConvertDetail" value="@DATETIME_Convert_Detail_@LABELNAME.log"/>
    <!-- ユーザログ（再構築用結果詳細）のファイル名 -->
    <add key="UserLogFileNameRebuildDetail" value="@DATETIME_Rebuild_Detail_@LABELNAME.log"/>
    <!-- 選択パスの最大許容バイト数 -->
    <add key="MaxLengthSelectPath" value="20"/>
  </appSettings>
</configuration>