/******************************************************************************
  UserAuth.css 

  	ユーザ認証のスタイルシート

     更新履歴    担当       Ver.        内容
     2005/12/08  宮滝      -----       新規作成

******************************************************************************/
SPAN
{
  cursor     : default;
}
INPUT
{
  cursor     : default;
}
TEXTAREA
{
  cursor     : default;
}
