<?xml version="1.0" encoding="shift_jis" ?>
<configuration>
  <log4net>
		<appender name="RESULT_LOG" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="${HMIMDesktopPath}/MoveImageLog"/>
			<param name="AppendToFile" value="true"/>
			<param name="RollingStyle" value="Composite"/>
			<param name="MaxSizeRollBackups" value="100"/>
			<param name="MaximumFileSize" value="10MB"/>
			<param name="StaticLogFileName" value="false"/>
			<param name="DatePattern" value="&quot;/&quot;yyyyMMdd&quot;/MoveImageResultLog_&quot;yyyyMMdd&quot;.log&quot;"/>
			<layout type="log4net.Layout.PatternLayout">
				<header value="Date       Time      Information&#13;&#10;"/>
				<conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} %message%newline"/>
			</layout>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		</appender>
		<appender name="DETAIL_LOG" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${HMIMDesktopPath}/MoveImageLog"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="StaticLogFileName" value="false"/>
			<param name="DatePattern" value="&quot;/&quot;yyyyMMdd&quot;/MoveImageDetailLog_&quot;yyyyMMdd&quot;.log&quot;"/>
			<layout type="log4net.Layout.PatternLayout">
        <header value="Date       Time     Information&#13;&#10;"/>
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} %message%newline"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>
    <appender name="TRACE_LOG" type="log4net.Appender.RollingFileAppender">
        <param name="File" value="${HMIMDesktopPath}/MoveImageLog"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="StaticLogFileName" value="false"/>
			<param name="DatePattern" value="&quot;/&quot;yyyyMMdd&quot;/MoveImageTraceLog_&quot;yyyyMMdd&quot;.log&quot;"/>
			<layout type="log4net.Layout.PatternLayout">
        <header value="Date       Time     Trace Message&#13;&#10;"/>
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} %message%newline"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>
    <appender name="DEBUG_LOG" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${HMIMDesktopPath}/MoveImageLog"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="StaticLogFileName" value="false"/>
			<param name="DatePattern" value="&quot;/&quot;yyyyMMdd&quot;/MoveImageDebugLog_&quot;yyyyMMdd&quot;.log&quot;"/>
			<layout type="log4net.Layout.PatternLayout">
        <header value="Date       Time     Information&#13;&#10;"/>
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss.fff} %message%newline"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <applicationName value="RebuildMedia" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[DateTime]:%date{yyyy/MM/dd HH:mm:ss.fff} [ThreadID]:%thread [ErrorLevel]:%-5p %newline%message%newline" />
      </layout>
    </appender>
    <!-- level: ALL < DEBUG < INFO < WARN < ERROR < FATAL -->
		<logger name="ResultLog">
			<level value="DEBUG"/>
			<appender-ref ref="RESULT_LOG"/>
		</logger>
		<logger name="DetailLog">
      <level value="DEBUG"/>
      <appender-ref ref="DETAIL_LOG"/>
    </logger>
    <logger name="TraceLog">
      <level value="DEBUG"/>
      <appender-ref ref="TRACE_LOG"/>
    </logger>
    <logger name="DebugLog">
      <level value="DEBUG"/>
      <appender-ref ref="DEBUG_LOG"/>
    </logger>
  </log4net>

</configuration>
