<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>
    <httpHandlers>
        <!--  ASP互換するWebサービス -->
        <add verb="*" path="*.asmx" type="AspCompatWebServiceHandler,FCRWebService" />
    </httpHandlers>

    <!--  ダイナミック デバッグ コンパイル
          ASPX デバッグを有効にするには、compilation debug="true" に設定します。この値を False に設定すると、






          このアプリケーションの実行時のパフォーマンスが向上します。






          デバッグ シンボル (.pdb 情報) をコンパイルされたページに挿入するには、






          compilation debug="true" に設定します。この設定によって、実行速度の遅い大きなファイルが作成されます。






          デバッグ時にのみ、この値を true に設定して、






          それ以外のときは、常に false に設定してください。詳細については、






          ASP .NET ファイルのデバッグ  ドキュメントを参照してください。






    -->
    <compilation 
         defaultLanguage="c#"
         debug="false"
    />

    <!--  カスタム エラー メッセージの設定






          カスタム エラー メッセージを有効にするには customErrors mode="On"または "RemoteOnly" にします。無効にする場合は "Off" に設定します。






          処理する各エラーに <error> タグを追加してください。







          "オン" 常にカスタム (理解しやすい) メッセージを表示します。






          "オフ" 常に詳細な ASP.NET エラー情報を表示します。






          "リモートのみ" ローカル Web サーバーで実行していないユーザーに対してのみ、






          常にカスタム (理解しやすい) メッセージを表示します。この設定は、セキュリティを考慮して、アプリケーションの詳細がリモートのクライアントに
          表示されないようにする推奨された設定です。






    -->
    <customErrors 
    mode="RemoteOnly" 
    /> 

    <!--  認証の設定 
          このセクションは、アプリケーションの認証ポリシーを設定します。使用できるモードは、"Windows"、






          "Forms"、"Passport" および "None" です。







          "None" 認証が実行されません。 
          "Windows" IIS はアプリケーションの設定に従って認証 (基本、ダイジェスト、または統合 Windows) 
           を実行します。匿名アクセスは IIS では無効でなければなりません。






          "Forms" ユーザーが資格情報を入力するカスタム フォーム (Web ページ) を提供してください。






           そして、アプリケーションで認証してください。ユーザーの資格情報のトークンは Cookie に保存されています。






          "Passport" 認証は、単一のログオンおよびメンバ サイトのコア プロファイル サービスを提供する 
           Microsoft により提供される管理認証サービスを使用して実行されます。






    -->
    <authentication mode="Windows" /> 

	<!--  権限の設定






          このセクションは、アプリケーションの権限のポリシーを設定します。この設定により、ユーザーまたはロールによるアプリケーション リソースへのアクセスを許可したり、






          拒否したりできます。ワイルドカード : "*" は全員を、"?" は匿名 
          (未認証) ユーザーを表します。






    -->

    <authorization>
        <allow users="*" /> <!-- 全ユーザーへの許可 -->
            <!--  <allow     users="[ユーザーのコンマ区切り一覧]"
                             roles="[ロールのコンマ区切り一覧]"/>
                  <deny      users="[ユーザーのコンマ区切り一覧]"
                             roles="[ロールのコンマ区切り一覧]"/>
            -->
    </authorization>

    <!--  アプリケーション レベルのトレース ログの設定






          アプリケーション レベルのトレースは、アプリケーション内の全ページのトレース ログ出力を有効にします。






          アプリケーション トレース ログを有効にするには、trace enabled="true" に設定します。pageOutput="true" に設定された場合、






          トレース情報が各ページの下に表示されます。それ以外の場合は、






          Web アプリケーション ルートから "trace.axd" ページを参照してアプリケーション トレースを






          表示できます。






    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    <!--  セッション状態の設定






          既定では、ASP.NET は Cookie を使用して、要求がどのセッションに属するかを識別します。






           Cookie が使用できない場合は、URL にセッション識別子を入力することで、セッションを見つけることができます。






          Cookie を有効にするには、sessionState を cookieless="false" に設定してください。






    -->
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false" 
            timeout="20" 
    />

    <!--  グローバリゼーション
          このセクションはアプリケーションのグローバリゼーション設定を行います。 
    -->
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />

    <!--  1度に転送できる容量

          1画像最大(3M)×1検査最大(16画像)=48M
          タイムアウト値は20分に設定
    -->
    <httpRuntime 
         maxRequestLength="49152"
         executionTimeout="1200"
    />

 </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="AxSHDocVw" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.1.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\AxSHDocVw.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="CarnaURL" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\CarnaURL.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="ClientUtility" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\ClientUtility.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="ClientUtilityResource" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\ClientUtilityResource.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="CrExamResource" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\CrExamResource.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="CrnUploadAidLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\CrnUploadAidLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="CustomMsgBoxLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\CustomMsgBoxLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="DBAccessBaseLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\DBAccessBaseLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="DeliveryLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\DeliveryLib.dll" />
      </dependentAssembly>
      
<!-- 20070322 HSK入山 V2.0 ImportImageLib Add Start-->
      <dependentAssembly>
        <assemblyIdentity name="ImportImageLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\ImportImageLib.dll" />
      </dependentAssembly>	
      
      <dependentAssembly>
        <assemblyIdentity name="ImportImageFolderAccessCom" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\ImportImageFolderAccessCom.dll" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="FFGeneralImageInfoAccessCom" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFGeneralImageInfoAccessCom.dll" />
      </dependentAssembly>
<!-- 20070424 HSK朴 V2.0 LogFileLib Add Start-->      
      <dependentAssembly>
        <assemblyIdentity name="LogFileLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\LogFileLib.dll" />
      </dependentAssembly>
<!-- 20070424 HSK朴 V2.0 LogFileLib Add END-->      
<!-- 20070322 HSK入山 V2.0 ImportImageLib Add End-->

      <dependentAssembly>
        <assemblyIdentity name="EDRCOMLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\EDRCOMLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="EzReceptCompCommunicationLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\EzReceptCompCommunicationLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FF32LibCom" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FF32LibCom.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFCaRnaOutput" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFCaRnaOutput.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFCrExamCom" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFCrExamCom.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDBComCommon" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComCommon.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDBComDataModel" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComDataModel.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDBComDataSetAccessor" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComDataSetAccessor.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDBComDicomDBAccessor" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComDicomDBAccessor.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDBComExplanation" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComExplanation.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDBComMediaInfo" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComMediaInfo.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDBComOutPut" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComOutPut.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDBComPatient" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComPatient.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDBComPatientFields" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComPatientFields.dll" />
      </dependentAssembly>

<!-- 20081030 HSK萩野 V5.0 プリセット対応 A Start -->
      <dependentAssembly>
        <assemblyIdentity name="FFDBComPreset" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComPreset.dll" />
      </dependentAssembly>
<!-- 20081030 HSK萩野 V5.0 プリセット対応 A End -->

      <dependentAssembly>
        <assemblyIdentity name="FFDBComStudy" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComStudy.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDBComSystemInfo" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComSystemInfo.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDBComUser" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComUser.dll" />
      </dependentAssembly>

<!-- 20061030 HSK菊地 V1.4 アクセスログ A Start -->
      <dependentAssembly>
        <assemblyIdentity name="FFDBComAccessLogInfo" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDBComAccessLogInfo.dll" />
      </dependentAssembly>
<!-- 20061030 HSK菊地 V1.4 アクセスログ A End -->

      <dependentAssembly>
        <assemblyIdentity name="FFDelInvalidComLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDelInvalidComLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFDicomObj" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFDicomObj.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFEntryAddComLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFEntryAddComLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFEventLog" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFEventLog.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFEventObjectAccessor" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFEventObjectAccessor.dll" />
      </dependentAssembly>

<!-- 20090609 HSK山田 V5.1 心電図本対応 A Start -->
      <dependentAssembly>
        <assemblyIdentity name="FFFukudaCommonLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFFukudaCommonLib.dll" />
      </dependentAssembly>
<!-- 20090609 HSK山田 V5.1 心電図本対応 A End -->

      <dependentAssembly>
        <assemblyIdentity name="FFGeneralOutput" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFGeneralOutput.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFImageSwapComLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFImageSwapComLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFLogAccessComLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFLogAccessComLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFMediaCommon" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFMediaCommon.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFMediaOutput" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFMediaOutput.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFMediaProcCtrlComLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFMediaProcCtrlComLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFMenuChangeComLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFMenuChangeComLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFMultiImgProcCOMLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFMultiImgProcCOMLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFOutPutEvent" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFOutPutEvent.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFPatientInfoOutCOMLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFPatientInfoOutCOMLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFStudyInfo" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFStudyInfo.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FMImgParamLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FMImgParamLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="GeneralLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\GeneralLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="IdCommonClassesLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\IdCommonClassesLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="ImgDeliveryComLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\ImgDeliveryComLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="IpcInfLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\IpcInfLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="IPXmlLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\IPXmlLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Launcher" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\Launcher.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="MasterInfoLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\MasterInfoLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="MediaCommonCOMLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\MediaCommonCOMLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="MediaCtrlCom" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\MediaCtrlCom.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="MediaGetCom" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\MediaGetCom.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="MediaLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\MediaLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="PageOperation" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\PageOperation.dll" />
      </dependentAssembly>

<!-- 20081030 HSK萩野 V5.0 プリセット対応 A Start -->
      <dependentAssembly>
        <assemblyIdentity name="PresetInfoLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\PresetInfoLib.dll" />
      </dependentAssembly>
<!-- 20081030 HSK萩野 V5.0 プリセット対応 A End -->

      <dependentAssembly>
        <assemblyIdentity name="SanyoEKarteLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\SanyoEKarteLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="SearchQuery" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\SearchQuery.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="SecurityCheck" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\SecurityCheck.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="SHDocVw" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.1.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\SHDocVw.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="StatusManagement" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\StatusManagement.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="StudyInfoLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\StudyInfoLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="StudyListCommon" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\StudyListCommon.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="StudyListCtrlBase" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\StudyListCtrlBase.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="StudyListDisp" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\StudyListDisp.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="StudyListResource" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\StudyListResource.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="StudyOperation" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\StudyOperation.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="StudyOperationA" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\StudyOperationA.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="StudyOperationB" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\StudyOperationB.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="ThumbnailList" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\ThumbnailList.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="TransferFileLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\TransferFileLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="ViClientInfoAccessLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\ViClientInfoAccessLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="ViCompImgDispDlg" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\ViCompImgDispDlg.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="ViExplanationDlg" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\ViExplanationDlg.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="vwMsgBoxCtrlLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\vwMsgBoxCtrlLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="WebServiceResource" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\WebServiceResource.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFRetrieveProcCtrlComLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFRetrieveProcCtrlComLib.dll" />
      </dependentAssembly>

<!-- 2011/02/15 TYS水越 DEL ST -->
<!-- 2010/11/04 FF千葉 ADD ST-->
<!--
      <dependentAssembly>
        <assemblyIdentity name="MwmMppsInfoLib" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\MwmMppsInfoLib.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFMwmClient" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFMwmClient.dll" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="FFMppsClient" publicKeyToken="df2607c3fb35b40b" culture="neutral"/>
        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FFMppsClient.dll" />
      </dependentAssembly>
-->
<!-- 2010/11/04 FF千葉 ADD ED-->
<!-- 2011/02/15 TYS水越 DEL ED -->

<!-- 2005/08/31 Kanno DELETE ST リソースのパス変更 -->
<!--      <dependentAssembly> -->
<!--        <assemblyIdentity name="FCRWebResource" publicKeyToken="df2607c3fb35b40b" culture="neutral"/> -->
<!--        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\FCRWebResource.dll" /> -->
<!--      </dependentAssembly> -->

<!--      <dependentAssembly> -->
<!--        <assemblyIdentity name="IndicatorResource" publicKeyToken="df2607c3fb35b40b" culture="neutral"/> -->
<!--        <codeBase version="1.0.0.0" href="C:\Program Files\FujiFilm\Hobbit\System\IndicatorResource.dll" /> -->
<!--      </dependentAssembly> -->
<!-- 2005/08/31 Kanno DELETE ED リソースのパス変更 -->

    </assemblyBinding>
  </runtime>
 
</configuration>
