BODY
{
  OVERFLOW   : hidden;
}
IFRAME#REGCHANGEMENU_CTRL
{
  POSITION   : absolute;
  LEFT       : 0px;
  TOP        : 0px;
  HEIGHT     : 600px;
  WIDTH      : 800px;
  VISIBILITY : visible;
  PADDING    : 0,0,0,0;
}